@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
	padding-top: 10px; /* 60px to make the container make room for the navigation bar */
	background-color: #C0C0C0;
	padding: 0px;
	margin: 0px;
	color:white;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 80%;
}



.container {
	width: 1000px;
	margin: auto;
	border: solid 1px red;
	overflow: auto;
	
}


#search-region{
	min-height: 40px;
	overflow: auto;
	width: 100%;
	padding: 0px;
  line-height: 30px;


}


#main{
	float: left;
	width: 500px;
	min-height: 400px;
  border: solid 1px red;
}

#map-region{
	float: right;
	width: 450px;
	min-height: 400px;
	border: solid 1px blue;
}


input[type="search"]{
  width: 300px;
  height: 30px;
  border: solid 1px #2d3956;
  font-size: 14px;
}

#pageContent{
  overflow: auto;
}

.searchButton{
 display: inline-block;
  width: 80px;
  height: 30px;
  background-color: #66718b;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0px;
   
}
.searchButton:hover{
  background-color: #2d3956;
  
}




.advancedSearchLink{
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
.advancedSearchLink a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #2d3956;
	font-weight: bold;
	
}

.advancedSearchLink a:after{
	content: "\00BB";
	font-size: 16px;
	display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  left: 110px;
}

.advancedSearchLink a.down:after{
-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 0px;
  left: 106px;


}


#advancedSearch{
	transition: opacity 0.4s linear,  height 0.4s;
  color: #2d3956;
  display: none; 

}

#advancedSearch.show{
  transition-property: opacity 0.4s linear,  height 0.4s;
  opacity: 1;
}

#advancedSearch section{
  width: 250px;
  float: left;
  overflow: auto;
}
#advancedSearch h4{
  margin: 0;
}


#advancedSearch ul {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

#advancedSearch ul li {
  margin: 0;
  padding: 0;
  line-height: 16px;
}

#advancedSearch ul li label {
  display: inline-block;
  color: #2d3956;
  

}
#advancedSearch input[type="checkbox"]{

}

#advancedSearch ul li span {
  margin: 0px;
  padding: 0px;
  
  display: inline-block;
  width:180px;
    color: #2d3956;

}

/* Loading div */
#loaderDiv{
  position: absolute;
  top: 40px;
  left: 220px;
}

#loaderCircle {
  width: 16px;
  height: 16px;
  background: url(../images/loader2.gif);
}

/* Grid items */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  width: 100px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
}

/**
 * Grid item text
 */
#tiles li p {
  color: #2d3956;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  margin: 7px 2px 2px 2px;
}

#tiles li a{
  text-decoration: none;
}


/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}




