.collection-menu{

}

@font-face {
	font-family: 'my-icons';
	src:url('fonts/my-icons.eot?wxs9c7');
	src:url('fonts/my-icons.eot?#iefixwxs9c7') format('embedded-opentype'),
		url('fonts/my-icons.woff?wxs9c7') format('woff'),
		url('fonts/my-icons.ttf?wxs9c7') format('truetype'),
		url('fonts/my-icons.svg?wxs9c7#my-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'my-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 12px;
	color: #fff ;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.collection-menu span{
	display: inline-block;
	width: 14px;
	height: 14px;
	padding: 2px 0 0 2px;
	margin-right: 2px;
	background-color: #66718b;
}
.icon-add:before {
	content: "\e63b";
}
.icon-add:hover:before {
	color: #ddd;
}

.icon-view:before {
	content: "\e61d";
}
.icon-view:hover:before {
	color: #ddd;
}

.active-modules-div{
	border: solid 1px green;
	float: right;
	width: 840px;
	min-height: 30px;
}
.moduleTab{
	height: 20px;
	display: inline-block;
	float: left;
	margin-right: 3px;
	background-color: #66718b;
	padding: 0 3px 0 3px;
}
.moduleTab div{
	display: inline-block;
	height: 12px;
	width: 12px;
	margin: 2px 0 0 8px;


}

.icon-remove{
	cursor: pointer; 
}
.icon-remove:before{
	content: "\e639";
	font-size: 8px;
	color: #2d3956;
}
.icon-remove:hover:before{
		color: #fff;

}

#collection-region{
	width: 520px;
	height: 430px;
	overflow: auto;
	float: right;
	margin-bottom: 5px;
	background-color: #eee;
	color: #2d3956;
	font-size: 14px;

}

#collection-region .item-container{
	display: inline-block;
	float: left;
	padding: 2px;
	margin: 0 2px 2px 0;
	height: 60px;
	background-color: #66718b;
}

#collection-region .item-container:hover{
	background-color: #2d3956;
}


.off-region{
	display: none;
	
}
.active-region{
	display: inline-block;
	opacity: 1; -webkit-transition: opacity 1s;
}

[class^="collection-icon-"], [class*=" collection-icon-"] {
	font-family: 'my-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 22px;
	background-color: #66718b;
	color: #fff;
	width: 22px;
	height: 22px;
	padding: 4px;
	line-height: 22px;
	display: inline-block;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0px;
	cursor: pointer;
}

[class^="collection-icon-"]:hover, [class*=" collection-icon-"]:hover{
	background-color: #2d3956;
}

#collection-menu{
	padding: 0px;
	margin: 0px;
	line-height: 24px;
	height: 28px;
	padding: 3px;
}

#collection-content{
	padding: 5px;
}

.collection-icon-1:before {
	content: "\e603";
}
.collection-icon-1:hover:before {

}

.collection-icon-2:before {
	content: "\e600";
}
.collection-icon-3:before {
	content: "\e601";
}
.collection-icon-4:before {
	content: "\e604";
}
.collection-icon-5:before {
	content: "\e602";
}
.collection-icon-6:before {
	content: "\e635";
}



